.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-template-rows: 1fr;
  gap: 1em;
  grid-auto-flow: dense;
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
