---
import Page from "../layouts/Page.astro"
---

<Page pageTitle="About">
	<h1>About</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue neque gravida in fermentum et sollicitudin ac. Aliquam nulla facilisi cras fermentum odio. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit. Neque egestas congue quisque egestas diam in arcu cursus euismod. Mauris ultrices eros in cursus turpis. Nullam non nisi est sit. Scelerisque fermentum dui faucibus in ornare quam. Sed id semper risus in hendrerit gravida rutrum quisque non. Gravida in fermentum et sollicitudin. Dictum at tempor commodo ullamcorper a lacus. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Orci ac auctor augue mauris augue. Fringilla est ullamcorper eget nulla. Etiam sit amet nisl purus in mollis nunc sed. Molestie a iaculis at erat. Varius quam quisque id diam vel quam elementum pulvinar. Nullam vehicula ipsum a arcu cursus vitae. Vitae congue eu consequat ac felis donec et odio pellentesque. Gravida arcu ac tortor dignissim convallis aenean.
	</p>
</Page>
