---
import Page from "../layouts/Page.astro";
---

<Page pageTitle="About me">
	<h1>Hi, I'm Felipe</h1>
	<p>
		If you're here, you probably already know I'm a backend web developer, so
		let's skip that for now.
	</p>
	<h2>My past career</h2>
	<p>
		Before getting into tech, I majored in biochemistry. I chose this major
		because I have a restless mind, eager to learn new things, and I thought
		that maybe academia was the way to go.
	</p>
	<p>
		During my time in Uni, I was <b>everywhere</b>: I hung out with teachers,
		engineers, nurses, mathematicians, you name it. I met people from all walks
		of life, opening my world view and also giving me a better understanding of
		myself and the things I want to do with my life.
	</p>
	<h2>So what happened? Why am I a web dev now?</h2>
	<p>
		You see, during my adventures in Uni I enrolled in a C programming course
		(elective for me, mandatory for the engineers 😜) and I absolutely enjoyed
		it. Somehow I was the top student, despite the course being completely
		unrelated to my studies. This plus a bunch of boring internships in
		different research laboratories made me realize that maybe tech was the way
		to go for me instead of science.
	</p>

	<p>
		In the end, I tried to pivot my major towards bioinformatics, but the world
		of academia didn't click with me. After working some time as a research
		assistant I decided to drop it all and go for a career change.
	</p>

	<h2>And now?</h2>

	<p>
		Now I'm here (hi!). I went through a full-stack web developer bootcamp and
		found the backend way more interesting than the frontend. Later I started
		joining community hackathons and similar events to get real-world
		experience.
	</p>

	<p>
		Currently I'm looking for a job as a backend web developer. It's been
		tough—lots of ghosting 👻—but I know if I keep at it, I'll eventually get
		there!
	</p>

	<h2>Hobbies, pastimes?</h2>

	<p>
		I like cooking, I like baking, I've made my own home brewed honey mead once.
		The kitchen is my new lab 👨‍🍳.
	</p>

	<p>
		I also like video games. As a kid I used to mod them and host dedicated
		servers for my friends (in hindsight, maybe I was meant to study tech from
		the start huh?). My favorite game series are S.T.A.L.K.E.R., Dark Souls and
		Monster Hunter.
	</p>
</Page>
