---
import Page from "../layouts/Page.astro"
import ProjectCard from "../components/ProjectCard.astro"
const allProjects = await Astro.glob('../pages/projects/*.md')
allProjects.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---
<Page pageTitle="Projects">
	<h1>Projects</h1>
	<div class="grid">
		{ allProjects.map((project) =>
			<ProjectCard project={project.frontmatter} details={project.url} />
		)}
	</div>
</Page>
<style>
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
		grid-template-rows: 1fr;
		gap: 1em;
		grid-auto-flow: dense;
	}

	@media (max-width: 576px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
</style>
