---
import Page from "../layouts/Page.astro"
import ProjectCard from "../components/ProjectCard.astro"
const allProjects = await Astro.glob('../pages/projects/*.md')
allProjects.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---
<Page pageTitle="Projects">
	<h1>Projects</h1>
	<div class="grid">
		{ allProjects.map((project) =>
			<ProjectCard project={project.frontmatter} info_url={project.url} />
		)}
		</div>
</Page>
<style>
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1em;
	}
</style>
