---
import Page from "../layouts/Page.astro"
---

<Page pageTitle="Projects">
	<h1>Projects</h1>
	<h2>This will be a list of projects</h2>
	<ul>
		<li>This will be a project component</li>
		<li>This will be a project component</li>
		<li>This will be a project component</li>
	</ul>
</Page>
