---
import DarkModeToggle from "./DarkModeToggle.astro";
---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/curl-http-gen/">cURL HTTP Tool</a></li>
    <li><a href="/json-tree-viewer/">JSON Tree viewer</a></li>
  </ul>
  <DarkModeToggle />
</nav>
