---
import "../styles/pico.violet.min.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<main class="container">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<script is:inline>
	(function () {
		const theme = localStorage.getItem("theme") || "dark";
		document.documentElement.setAttribute("data-theme", theme);

		const isDarkMode = theme === "dark";
		document.getElementById("dark-mode").checked = isDarkMode;
		document.getElementById("toggle-text").textContent = isDarkMode
			? "🌛"
			: "🌞";

		const lightModeIcons = document.querySelectorAll(".light-mode");
		const darkModeIcons = document.querySelectorAll(".dark-mode");
		lightModeIcons.forEach((img) => {
			img.classList.toggle("hidden", isDarkMode);
		});
		darkModeIcons.forEach((img) => {
			img.classList.toggle("hidden", !isDarkMode);
		});
	})();
</script>
